runtime: python37
service: process-ably-tfl
entrypoint: gunicorn -t 300 -b :8080 -w 1 app.main:app
env_variables:
    PROJECT: $ANALYTICS_PROJECT    # replace in cloud build step
    TOPIC: ably-tfl-tube
    SUBSCRIPTION: ably-tfl-tube
    DATASET: ably_tfl
    TABLE: tube
